/* Sticky Footer  */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Brand Logo */
.brand-logo {
  margin-left: 10px;
}

/* Headings */
h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

/* Paragraphs */

p {
  color: #004d40;
}

/* Tables */
.snail_table {
  margin-bottom: 2rem;

}

.snail_table {
  /* Dark teal text for contrast against the light teal background */
  color: #004d40 !important;

  & caption {
    font-size: 1.5rem;
  }

}

.edit-btn {
  /* Add some space between the Edit and Delete buttons */
  margin-right: 10px;
}

/* Toasts */
.success-toast {
  background-color: #00897b !important;
  color: #FFFFFFE6 !important;
}