{% extends "base.html" %}
{% block content %}

<div class="error-message">
    <h1 class="center-align">403 Forbidden</h1>
    <p>You do not have permission to access this page or perform this action.</p>
    <p>This might be due to one of the following reasons:</p>
    <ul>
        <li>You are not logged in. <a href="{{ url_for('login') }}">Log in</a> to continue.</li>
        <li>Your account may not have the necessary privileges to access this resource.</li>
        <li>If you have recently changed your password, please ensure that you are logged in with the new credentials.</li>
    </ul>
    <p>If you think you should have access to this page, please contact our support team or your administrator for assistance.</p>
</div>

{% endblock %}