{% extends "base.html" %}
{% block meta_title %}Snail Hunt: 405 Method Not Allowed{% endblock %}
{% block meta_description %}The method used to access this page is not permitted.{% endblock %}
{% block content %}

<div class="error-message">
    <h1 class="center-align">405 Method Not Allowed</h1>
    <p>The method used to access this page is not permitted.</p>
    <p>This is usually the result of:</p>
    <ul>
        <li>Accessing a page with an incorrect or unsupported HTTP verb.</li>
        <li>Submitting a form that has expired or has been processed already.</li>
    </ul>
    <p>Here's what you can do:</p>
    <ul>
        <li>Use the back button and try a different action.</li>
        <li>Return to the <a href="{{ url_for('home') }}" class="dark-link">Home page</a>.</li>
    </ul>
    <p>If you believe you're seeing this message in error, please contact our support team to report the issue.</p>
</div>

{% endblock %}