{% extends "base.html" %}
{% block content %}

<h1 class="light-green-text text-darken-4 center-align">Add Your Data</h1>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_data') }}">
        <!-- Observation Date -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-regular fa-calendar-days prefix light-blue-text text-darken-4"></i>
                <input id="observation_date" name="observation_date" type="text" class="validate">
                <label for="observation_date">Date</label>
            </div>
        </div>
        <!-- Observation Time -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-regular fa-clock prefix light-blue-text text-darken-4"></i>
                <input id="observation_time" name="observation_time" type="text" class="validate">
                <label for="observation_time">Time</label>
            </div>
        </div>
        <!-- Snail Colour -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-palette prefix light-blue-text text-darken-4"></i>
                <input id="snail_colour" name="snail_colour" minlength="3" maxlength="24" type="text" class="validate">
                <label for="snail_colour">Colour</label>
            </div>
        </div>
        <!-- Banding Count -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-bullseye prefix light-blue-text text-darken-4"></i>
                <input id="banding_count" name="banding_count" type="text" class="validate">
                <label for="banding_count">Banding</label>
            </div>
        </div>
        <!-- Number of Snails Found -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-hashtag prefix light-blue-text text-darken-4"></i>
                <input id="observation_count" name="observation_count" type="text" class="validate">
                <label for="observation_count">Number Found</label>
            </div>
        </div>
        <!-- Habitat -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-tree-city prefix light-blue-text text-darken-4"></i>
                <input id="habitat" name="habitat" type="text" class="validate">
                <label for="habitat">Habitat (woodland or scrub/hedgerow or tall herbs/grassland/sand dunes)</label>
            </div>
        </div>
        <!-- Location -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-location-dot prefix light-blue-text text-darken-4"></i>
                <input id="location" name="location" type="text" class="validate">
                <label for="location">Location</label>
            </div>
        </div>
        <!-- Recorder -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-signature prefix light-blue-text text-darken-4"></i>
                <input id="recorder" name="recorder" type="text" class="validate">
                <label for="recorder">Recorder(s)</label>
            </div>
        </div>
         <!-- Submit Button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-green darken-1">
                    Add Observation <i class="fa-regular fa-square-plus right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}