<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}Enter your survey data for the Snail Hunt!{% endblock %}">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Tab Title -->
    <title>{% block meta_title %}Snail Hunt {% endblock %}</title>
</head>

<body class="teal lighten-5">

    <header>
        <nav class="teal darken-3" aria-label="Main Navigation">
            <div class="nav-wrapper">
                <span class="brand-logo">Snail Hunt</span>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger" aria-label="Open navigation menu"><i
                        class="fa-solid fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    {% if current_user.is_authenticated %}
                    <li><span class="user-greeting">User: {{ current_user.username }}</span></li>
                    {% endif %}
                    <li><a href="{{ url_for('home') }}" class="white-text">Home</a></li>
                    {% if current_user.is_authenticated %}
                    <!-- Show logout when user is logged in -->
                    <li><a href="{{ url_for('logout') }}" class="logout">Log out</a></li>
                    <li><a href="{{ url_for('add_survey') }}" class="white-text">Add Survey</a></li>
                    {% else %}
                    <!-- Show login / register when not logged in -->
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="{{ url_for('login') }}">Log in</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('surveys') }}" class="white-text">Surveys</a></li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav teal lighten-5" id="mobile-demo">
            <li><a href="{{ url_for('home') }}" class="teal-text text-darken-4">Home</a></li>
            {% if current_user.is_authenticated %}
            <!-- Show logout when user is logged in -->
            <li><a href="{{ url_for('logout') }}">Log out</a></li>
            <li><a href="{{ url_for('add_survey') }}" class="teal-text text-darken-4">Add Survey</a></li>
            {% else %}
            <!-- Show login / register when not logged in -->
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('login') }}">Log in</a></li>
            {% endif %}
            <li><a href="{{ url_for('surveys') }}" class="teal-text text-darken-4">Surveys</a></li>
        </ul>
    </header>

    <main class="container">
        <div id="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <input type="hidden" class="flash-message" data-class="{{ category }}" data-message="{{ message }}">
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>

        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer teal darken-3">
        <div class="footer-copyright">
            <div class="container">
                <a href="mailto:support@example.com">Email for support</a>
                <a class="white-text right" href="#" target="_blank">&copy; Snail Hunt</a>
            </div>
        </div>
    </footer>
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/c4337c00d0.js" crossorigin="anonymous"></script>
    <!-- Materialize CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>