{% extends "base.html" %}
{% block content %}

<h1 class="light-green-text text-darken-4 center-align">Snail Hunt</h1>
<p>Welcome to Snail Hunt.</p>
<p>Snail Hunt is a web app that allows you to survey banded snail populations to help map climate change effects.</p>
<p>To help you on your journey please see the following resources:</p>
<ul>
    <li><a href="https://www.stem.org.uk/elibrary/resource/34437#&gid=undefined&pid=2">How to hunt banded snails.</a>
    </li>
    <li><a href="https://www.stem.org.uk/elibrary/resource/34437#&gid=undefined&pid=5">Snail identification: Shell
            colour.</a></li>
    <li><a href="https://www.stem.org.uk/elibrary/resource/34437">Click here for a list of additional downloads.</a>
    </li>
</ul>

{% endblock %}