{% extends "base.html" %}
{% block content %}

<h1 class="light-green-text text-darken-4 center-align">Snail Hunt</h1>
<p>Welcome to Snail Hunt.</p>
<p>Snail Hunt is a web app that allows you to store the information from your banded snail populations survey to help map climate change effects.</p>
<p>To help you on your journey please see the following resource:</p>
<ul>
    <li><a href="https://www.stem.org.uk/elibrary/resource/34437/">How to hunt banded snails.</a>
    </li>
</ul>

{% endblock %}