{% extends "base.html" %}
{% block content %}

<div class="center-align">
    <h1 class="center-align">Snail Hunt</h1>
    <p>Welcome to Snail Hunt, your digital companion for banded snail population surveys!</p>
    <p>Our web app is designed to help you record, store, and manage data from your snail population studies. Whether you're a seasoned researcher or a curious amateur, Snail Hunt makes it easy to keep track of your findings.</p>
    <p>For more information about conducting a banded snail survey please refer to the following resource:</p>
    <a href="https://www.stem.org.uk/elibrary/resource/34437/" class="dark-link" target="_blank">How to hunt banded snails.</a>
</div>

{% endblock %}