{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Register</h2>
    <form action="{{ url_for('register') }}" method="post" class="col s12">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="input-field col s12">
                {{ form.username.label(class="active") }}
                {{ form.username(class="validate") }}
                {% for error in form.username.errors %}
                <span class="helper-text red-text">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="input-field col s12">
                {{ form.password.label(class="active") }}
                {{ form.password(class="validate") }}
                {% for error in form.password.errors %}
                <span class="helper-text red-text">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="input-field col s12">
                {{ form.confirm_password.label(class="active") }}
                {{ form.confirm_password(class="validate") }}
                {% for error in form.confirm_password.errors %}
                <span class="helper-text red-text">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="col s12">
                {{ form.submit(class="btn waves-effect waves-light") }}
            </div>
        </div>
    </form>
</div>
{% endblock %}