{% extends "base.html" %}
{% block content %}

<h1 class="light-green-text text-darken-4 center-align">Survey</h1>
<div class="row">
  <div class="col s12 center-align">
    <a href="{{ url_for('add_survey') }}" class="btn-large light-green darken-2">
      Add Survey <i class="fa-solid fa-square-plus right"></i>
    </a>
  </div>
</div>

<ul class="collapsible">
  {% for survey in surveys|sort(attribute="survey_date") %}
  <li>
    <div class="collapsible-header white-text green darken-4">
      <i class="fa-solid fa-caret-down"></i>
      <strong>{{ survey.survey_date.strftime("%d/%b/%Y") }}, {{ survey.survey_location }}, {{ survey.survey_recorder }}</strong>
    </div>
    <div class="collapsible-body">
      <strong>Date: {{ survey.survey_date.strftime("%d/%b/%Y") }}</strong>
      <p>Time: {{ survey.survey_date.strftime("%I:%M") }}</p>
      <p>Location: {{ survey.survey_location }}</p>
      <p>Habitat: {{ survey.survey_habitat }}</p>
      <p>Surveyor: {{ survey.survey_recorder }}</p>
      <table>
        <caption>Brown lipped snail (Corea nemoralis)</caption>
        <thead>
          <tr>
            <th></th>
            <th>Yellow</th>
            <th>Pink</th>
            <th>Brown</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>No Bands</td>
            <td>{{ survey.yellow_brown_lipped_snail_0_bands }}</td>
            <td>{{ survey.pink_brown_lipped_snail_0_bands }}</td>
            <td>{{ survey.brown_brown_lipped_snail_0_bands }}</td>
          </tr>
        </tbody>
        <tr>
          <td>1 Band</td>
          <td>{{ survey.yellow_brown_lipped_snail_1_band }}</td>
          <td>{{ survey.pink_brown_lipped_snail_1_band }}</td>
          <td>{{ survey.brown_brown_lipped_snail_1_band }}</td>
        </tr>
        <tr>
          <td>Many Bands</td>
          <td>{{ survey.yellow_brown_lipped_snail_many_bands }}</td>
          <td>{{ survey.pink_brown_lipped_snail_many_bands }}</td>
          <td>{{ survey.brown_brown_lipped_snail_many_bands }}</td>
        </tr>
      </table>

      <table>
        <caption>White lipped snail (Corea hortensis)</caption>
        <thead>
          <tr>
            <th></th>
            <th>Yellow</th>
            <th>Pink</th>
            <th>Brown</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>No Bands</td>
            <td>{{ survey.yellow_white_lipped_snail_0_bands }}</td>
            <td>{{ survey.pink_white_lipped_snail_0_bands }}</td>
            <td>{{ survey.brown_white_lipped_snail_0_bands }}</td>
          </tr>
        </tbody>
        <tr>
          <td>1 Band</td>
          <td>{{ survey.yellow_white_lipped_snail_1_band }}</td>
          <td>{{ survey.pink_white_lipped_snail_1_band }}</td>
          <td>{{ survey.brown_white_lipped_snail_1_band }}</td>
        </tr>
        <tr>
          <td>Many Bands</td>
          <td>{{ survey.yellow_white_lipped_snail_many_bands }}</td>
          <td>{{ survey.pink_white_lipped_snail_many_bands }}</td>
          <td>{{ survey.brown_white_lipped_snail_many_bands }}</td>
        </tr>
      </table>
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}